.place{
    margin: 20px auto;
        background-color: white;
    border: 1px solid tomato;
    border-radius: 10px;
    padding: 10px;
}

.place img{
    border-radius: 10px;
}
.txt-color-a{
    color: tomato;
}
.txt-color-b{
    color: #404064;
}
.info{
    margin-top: 10px;
    text-align: left;
}
.description{
    text-align: justify;
}

.btn-b{
    background-color: #404064;
    color: white;
    margin: 10px auto 5px auto;
}
.btn-b:hover{
    background-color: white;
    background-color: tomato;
}